.verticalMenu {
  width: 15rem;
  min-height: 99vh;
  background-color: rgb(199, 213, 230);
}
.verticalMenu div {
  background-color: #eee;
  color: black;
  padding: 12px;
  text-decoration: none;
  margin-top: 2px;
}
.fullHide {
  display: none;
}
.hide {
}
@media only screen and (max-width: 600px) {
  .hide {
    display: none;
  }
}
.show {
  display: block;
}
.verticalMenu div:hover {
  background-color: #ccc;
  cursor: pointer;
}

.verticalMenu div.active {
  background-color: #04aa6d;
  color: white;
}
.heading h4 {
  text-align: center;
  margin-bottom: 2rem;
  padding-top: 2rem;
  font-variant: small-caps;
  font-size: 30px;
}
.heading h4:hover {
  background-color: #ccc;
  cursor: pointer;
}
