* {
  box-sizing: border-box;
}

.Sidebarcontainer {
  background: #191919;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
  display: flex;
  width: 3rem;
  flex-basis: 1vw;
}
.sidebar > * {
  color: #fff;
  text-decoration: none;
  padding-left: 10px;
  width: 40px;
  margin: auto;
}

.sidebar {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
}

button {
  width: 2.5rem;
  margin-left: 0.1vw;
}
